body {
background-color: #301515;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  h1{
    color: #fff;
    text-align: center;
  }
  #calendar {
    margin-bottom: 20px;
  }
  
  #appointment-time {
    margin-right: 10px;
  }
  
  #confirmation {
    font-weight: bold;
    margin-top: 20px;
  }
  